# Bot Configuration
BOT_TOKEN=your_telegram_bot_token_here
GROUP_ID=your_telegram_group_id_here
ADMIN_IDS=6251161332

# Solana Configuration
MOTHER_WALLET=DrgxvHQb9DzgBG5YkP8FyeFAbJp2M54XTzuubt3QfDZP
TOKEN_MINT=9FwBttHVkmTGECS8oveN26RTQYS4pjbyKf4K3C1jJZ7o
SEED=YourBase58PrivateKeyHere
RPC_URL=https://api.mainnet-beta.solana.com
API_KEY=your_helius_api_key_here

# Presale Configuration
PRESALE_START=1757203200
PRESALE_END=1759143600
RATE=7000
MIN_DEPOSIT=0.2
PROGRESS_SOL_CAP=100
LOOP_SECONDS=120
